<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset="/>
		<title><!-- tmpl_var title --> - My Blog</title>
		<style type="text/css" media="screen">
			body {
				margin-left: 10%;
				margin-right: 10%;
				background: white;
				color: black;
			}
			h1 {
				font-variant: small-caps;
				border-bottom: 2px solid black;
				color: darkblue;
			}
			h2 {
				font-variant: small-caps;
				color: darkblue;
			}
		</style>
	</head>
	<body>
		<h1>*<!-- tmpl_var title --></h1>
		<div><!-- tmpl_var body --></div>
        <div style="margin-top: 20px">
        [<a href="/edit/?<!-- tmpl_var url-part -->">Edit</a>]
        [<a href="/">Home</a>]</div>
	</body>
</html>
